/*
   GOOGLE FONT
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* 
   RESET
 */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

/* 
   COLORS
 */

:root{

    --bg:#070707;

    --bg2:#0F0F0F;

    --card:#141414;

    --primary:#A855F7;

    --secondary:#C084FC;

    --white:#ffffff;

    --gray:#b4b4b4;

}

/* 
   BODY
 */

body{

    background:var(--bg);

    color:var(--white);

    overflow-x:hidden;

    position:relative;

}
body::before{

content:"";

position:fixed;

inset:0;

background:

radial-gradient(circle at 10% 20%,
rgba(168,85,247,.18),
transparent 30%),

radial-gradient(circle at 80% 20%,
rgba(139,92,246,.15),
transparent 30%),

radial-gradient(circle at 50% 90%,
rgba(192,132,252,.12),
transparent 30%);

z-index:-2;

animation:bgMove 15s infinite alternate;

}

@keyframes bgMove{

0%{

transform:translateY(0);

}

100%{

transform:translateY(-40px);

}

}
header{

position:fixed;

top:0;

left:0;

width:100%;

padding:20px 8%;

z-index:1000;

}

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

background:rgba(20,20,20,.7);

backdrop-filter:blur(20px);

padding:18px 35px;

border-radius:18px;

border:1px solid rgba(255,255,255,.05);

}

.logo{

font-size:1.8rem;

font-weight:700;

}

.logo span{

color:var(--primary);

}

.nav-links{

display:flex;

gap:35px;

list-style:none;

}

.nav-links a{

text-decoration:none;

color:white;

transition:.3s;

font-weight:500;

}

.nav-links a:hover{

color:var(--primary);

}
#theme-toggle{

width:48px;

height:48px;

border:none;

border-radius:50%;

background:#1d1d1d;

color:var(--primary);

cursor:pointer;

font-size:18px;

transition:.3s;

}

#theme-toggle:hover{

transform:rotate(180deg);

background:var(--primary);

color:white;

}
.hero{

min-height:100vh;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 8%;

gap:70px;

}

.hero-left{

flex:1;

}

.hero-right{

flex:1;

display:flex;

justify-content:center;

}
.hello{

color:var(--primary);

font-size:1.2rem;

margin-bottom:20px;

}

.hero h1{

font-size:5rem;

margin-bottom:15px;

}

.hero h2{

font-size:2rem;

color:var(--secondary);

margin-bottom:25px;

}

.hero p{

color:var(--gray);

line-height:1.8;

max-width:600px;

}
.hero-buttons{

display:flex;

gap:20px;

margin-top:40px;

}

.primary-btn{

background:linear-gradient(
135deg,
#9333EA,
#C084FC);

padding:15px 35px;

border-radius:50px;

text-decoration:none;

color:white;

font-weight:600;

transition:.35s;

}

.secondary-btn{

border:2px solid var(--primary);

padding:15px 35px;

border-radius:50px;

text-decoration:none;

color:white;

transition:.35s;

}

.primary-btn:hover{

transform:translateY(-5px);

box-shadow:0 15px 30px rgba(168,85,247,.35);

}

.secondary-btn:hover{

background:var(--primary);

}
.profile-card{

width:350px;

background:rgba(255,255,255,.04);

backdrop-filter:blur(20px);

border-radius:30px;

padding:45px;

text-align:center;

border:1px solid rgba(255,255,255,.08);

box-shadow:0 20px 45px rgba(168,85,247,.15);

}

.profile-circle{

width:180px;

height:180px;

margin:auto;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:3rem;

font-weight:700;

background:linear-gradient(
135deg,
#9333EA,
#C084FC);

color:white;

margin-bottom:30px;

}
.socials{

display:flex;

gap:20px;

margin-top:40px;

}

.socials a{

width:55px;

height:55px;

display:flex;

justify-content:center;

align-items:center;

background:#181818;

border-radius:50%;

color:white;

text-decoration:none;

font-size:22px;

transition:.35s;

}

.socials a:hover{

background:var(--primary);

transform:translateY(-6px);

}
@media(max-width:900px){

.hero{

flex-direction:column-reverse;

text-align:center;

padding-top:150px;

}

.hero-buttons{

justify-content:center;

}

.socials{

justify-content:center;

}

.hero h1{

font-size:3.2rem;

}

.nav-links{

display:none;

}

.profile-card{

width:100%;

max-width:340px;

}

}
.hidden{

opacity:0;

transform:translateY(60px);

transition:1s;

}

.show{

opacity:1;

transform:translateY(0);

}
.cursor-glow{

position:fixed;

width:18px;

height:18px;

background:#A855F7;

border-radius:50%;

pointer-events:none;

transform:translate(-50%,-50%);

box-shadow:0 0 25px #A855F7;

z-index:9999;

}
#topBtn{

position:fixed;

right:30px;

bottom:30px;

width:55px;

height:55px;

border:none;

border-radius:50%;

background:#A855F7;

color:white;

cursor:pointer;

font-size:18px;

opacity:0;

pointer-events:none;

transition:.4s;

}

#topBtn.active{

opacity:1;

pointer-events:auto;

}
/* 
      ABOUT
 */

.about{

padding:120px 8%;

}

.section-header{

text-align:center;

margin-bottom:70px;

}

.section-header p{

color:var(--primary);

letter-spacing:2px;

font-weight:600;

margin-bottom:10px;

}

.section-header h2{

font-size:3rem;

}

.about-container{

display:grid;

grid-template-columns:1.2fr .8fr;

gap:60px;

align-items:center;

}

.about-card{

background:rgba(255,255,255,.04);

border:1px solid rgba(255,255,255,.08);

backdrop-filter:blur(20px);

padding:45px;

border-radius:25px;

line-height:2;

box-shadow:0 20px 45px rgba(168,85,247,.12);

transition:.4s;

}

.about-card:hover{

transform:translateY(-10px);

}

.about-card h3{

margin-bottom:20px;

color:var(--primary);

font-size:2rem;

}

.about-right{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;

}

.info-card{

background:rgba(255,255,255,.04);

padding:35px;

border-radius:25px;

text-align:center;

transition:.4s;

border:1px solid rgba(255,255,255,.06);

}

.info-card:hover{

transform:translateY(-10px);

background:#181818;

}

.info-card i{

font-size:2rem;

color:var(--primary);

margin-bottom:18px;

}

.info-card h3{

margin-bottom:12px;

}

#topBtn:hover{

transform:translateY(-5px);

}
@media(max-width:900px){

.about-container{

grid-template-columns:1fr;

}

.about-right{

grid-template-columns:1fr;

}

}
